﻿*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    height:100%;
}
#cnv_wrapper {
    position:relative;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:hidden;
    overflow-y:hidden;
}
canvas {
    display: block;
    position:absolute;
    width:100%;
    height:0;
    border: 4px solid black;
    background:#f8f8dd;
}
#tooltip {
    display: none;
    position:absolute;
    background: #88aaff;
    border-radius: 5px;
    width:10em;
    height:4ex;
}
#tooltip_inner {
    position:relative;
    top:0.5ex;
    width:100%;
    height:2ex;
    text-align: center;
}