﻿*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    height:100%;
}
#main{
    height:inherit;
    width:inherit;
}
#zoom_wrapper{
    position:absolute;
    width:60px;
    height:140px;
    right:30px;
    bottom:30px;
    text-align:center;
    font-weight:bold;
}
#zoom_up {
    cursor:pointer;
    position: absolute;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    font-size: 35px;
    background: #aaccff;
}
#zoom_down {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 60px;
    margin-top: 80px;
    border-radius: 50%;
    padding-top: 8px;
    font-size: 28px;
    background: #aaccff;
}
#cnv_wrapper {
    position:relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    display: block;
    position:absolute;
    width:100%;
    height:0;
    border: 4px solid black;
    background:#f8f8dd;
}
#btns_wrapper {
    width: 95%;
    height: 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.btn {
    cursor:pointer;
    position:relative;
    float: left;
    height: 100%;
    width: 16.6666%;
    margin: 0 auto;
    background: #f8f8dd;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}
.btn_img {
    position:absolute;
    display:block;
    max-width: 80%;
    max-height: 100%;
    width:120px;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.btn.selected {
    float: left;
    height: 100%;
    width: 16.6666%;
    margin: 0 auto;
    background: #d8d8bb;
    border-left: 4px solid black;
    border-right: 0px solid black;
    border-top: 6px solid black;
    border-bottom: 2px solid black;
}
